html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;

    padding: 20px;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 15px; 
    margin-bottom: 20px;
}

#box1 {
    background-color:#708090;
    height: 30px;
    padding: 15px;
    margin-bottom: 15px;
    display:flex;
    justify-content: space-between;
}
#logo {
    background-color: indianred;
    flex-basis: 19%;
}

#webname {
    background-color:indianred;
    flex-basis: 59%
}

#social {
    background-color: indianred;
    flex-basis: 19%
}

#box2 {
    background-color: orange;
    height: 30px;
    padding: 15px;
    display: flex;
}

#menu {
    background-color: #FFD700;
    flex-basis: 100%;    
}

main {
    background-color: black;
    display: flex;  
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}

main section {
    background-color:grey;
    display: flex;
    flex-basis: 67.5%;
    padding: 10px;
    flex-wrap: wrap;
}

main section .column-article {
    background-color: #1874CD;
    flex-basis: 48%;
    margin: 1%;
    height: 25px;
}

#inline-article {
    background-color:#63B8FF; 
    flex: 1;
    margin: 1%;
    height: 25px;
    align-self: flex-end;
}

main aside {
    background-color: red; 
    display:flex;
    flex-basis: 27.5%;
    flex-direction: column;
    padding: 10px;
    padding-top: 1.4%;
}

main aside .opinions {
    background-color: yellow;
    margin-bottom: 10px;
    height: 25px;
    
}
aside .opinions:last-child {
    margin-bottom: 0;

}
footer {
    background-color: black;
    padding: 20px;
    display: flex; 
    height: 30px;
    justify-self: flex-end;
}

footer .contact {
    background-color: orange;
    flex-basis: 100%;
}



@media (min-width: 768px) and (max-width: 1024px) {
    #box1 {
        padding: 25px;
        height: 20px;
    }
    #webname {
        flex-basis: 55%
    }
    main {
       flex-direction: column;

    }
    main section {
        margin-bottom: 15px;
    }

    main section {
        padding: 20px;
    }
    
    main aside {
        padding: 20px;
    }
    
    #box2 {
        padding: 25px;
    }
}

@media (max-width:767px) {
    header {
        padding: 30px;
        margin-bottom: 20px;
    }
    #box1 {
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        height: auto;
    }

    #box1 div {
        flex-basis: auto;
        height: 30px;
        display: block;
        margin: 6%;
    }

    #box2 {
        padding: 30px;
    }  

    main {
        flex-direction: column;
        padding: 30px;
        margin-bottom: 20px;
     }
     main section {
         margin-bottom: 25px;
         padding:20px;
         flex-direction: column;
     }
     main section article.column-article {
        flex-basis: auto;
        margin: 6%;
     }
     main section article#inline-article {
        flex-basis: auto;
        margin: 6%;
        align-self: inherit;
     }

     main aside {
         padding: 20px;
     }
     footer {
         padding: 30px;
         height: 30px;
     }
}
